body {
	background: #141414;
	color: #ffffff;
}

.movie-wrapper {
  display: flex;
	overflow-x: auto;
	flex-wrap: nowrap;

}

.image-container {
	position: relative;
	transition: transform 0.2s;
}




